<nz-card class="rounded-md max-w-full" [nzTitle]="'Course'">
  <app-table
    #dataTable
    [data]="tableData.data"
    [pageSize]="tableData.pageSize"
    [pageIndex]="tableData.pageIndex"
    [totalItem]="tableData.totalItem"
    [tableConfig]="tableConfig"
    [height]="'400px'"
    [isLoading]="isLoading"
    [customCell]="{ id, title, quantity,totalPrice,address, action }"
    (onSearch)="onSearch($event)"
    externalClass="js-tb"
    parentClass="inner-content"
  ></app-table>
</nz-card>

<ng-template #id let-data="$data">
  <p nz-tooltip="{{ data.id }}" class="ellipsis-text">{{ data.id }}</p>
</ng-template>
<ng-template #title let-data="$data">
  <span>{{ data.product.product.title }}</span>
</ng-template>
<ng-template #quantity let-data="$data">
  <span>{{ data.product.quantity }}</span>
</ng-template>
<ng-template #totalPrice let-data="$data">
  <span>{{ data.product.totalPrice }}</span>
</ng-template>
<ng-template #address let-data="$data">
  <span nz-tooltip="{{ data.address.address }}" class="ellipsis-text">{{ data.address.address }}</span>
</ng-template>
<ng-template #action let-data="$data">
  <div class="flex items-center gap-2">
    <nz-slider
      class="w-full"
      [nzMin]="0"
      [nzMax]="4"
      [nzStep]="1"
      [nzMarks]="statusMarks"
      [nzTooltipVisible]="'always'"
      [(ngModel)]="data.statusIndex" 
      (ngModelChange)="updateStatus(data, $event)"
    ></nz-slider>
  </div>
</ng-template>

