<nz-card class="rounded-md max-w-full">
  <div class="flex float-right pb-3">
    <button nz-button nzType="primary" (click)="openCreateModal()">Add +</button>
  </div>
    <app-table
      #dataTable
      [data]="tableData.data"
      [pageSize]="tableData.pageSize"
      [pageIndex]="tableData.pageIndex"
      [totalItem]="tableData.totalItem"
      [tableConfig]="tableConfig"
      [height]="'400px'"
      [isLoading]="isLoading"
      (onSearch)="onSearch($event)"
      [customCell]="{ thumbnail, type ,action}"
      externalClass="js-tb"
      parentClass="inner-content"
    ></app-table>
  </nz-card>
  
  <ng-template #thumbnail let-data="$data">
    <div>
      <img [src]="data.thumbnail" class="w-full h-full object-cover" alt="Course Image" />
    </div>
  </ng-template>
  <ng-template #type let-data="$data">
    <span>{{ getTypeDescription(data.type) }}</span>
  </ng-template>
  <ng-template #action let-data="$data">
    <div class="flex gap-2">
      <span class="cursor-pointer" nz-icon nzType="edit" nzTheme="outline" (click)="openCourseManageModal(data)"></span>
      <span class="cursor-pointer" nz-icon nzType="delete" nzTheme="outline" (click)="deleteNewModal(data.id)"></span>
    </div>
  </ng-template>